<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>

</head>

<body>
    <h1>Welcome to the Flask App</h1>
</body>

<font>
    <p>Please enter any free form text</p>
</font>

<form action="/" method="post">
    <font><label for="textbox"></label><br></font>
    <textarea type="text" id="textbox" name="textbox"></textarea> <br>
    <button>Submit</button>
</form>

<!-- value is set using jinja templating and will display loaded_text variable, readonly makes it readonly obviously-->
<!-- loaded_text reads file from file.read -->
<form action="/" method="get">
    <font><label for="loaded_text"></label></font><br>
    <textarea id="text" name="loaded_text" rows="4" cols="50"> {{loaded_text}} </textarea><br>
    <button>Load</button>
</form>



</html>