<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>

<body>
    <h1>Welcome to Flask App</h1>
</body>

<!-- "form action-->

<form action="/" method="post">
    <label for="textbox">Please enter any kind of freeform text, excluding numbers and other characters</label><br>
    <input type="text" id="textbox" name="textbox"><br>
    <input type="submit" value="Save">
</form>

<!-- value is set using jinja templating and will display loaded_text variable, readonly makes it readonly obviously-->
<!-- loaded_text reads file from file.read -->
<form action="/" method="get">
    <label for="loaded_text">Loaded Text:</label><br>
    <input type="text" id="loaded_text" name="loaded_text" value="{{loaded_text}}" readonly><br>
    <input type="submit" value="Load">
</form>


<p>If you click the "Save" button, the form-data will be sent to a file called "/tmp/test.txt".</p>
<p>Clicking on "Load" will bring back the text previously saved.</p>

</html>